.button {
  background-color: #4d0fb0;
  color: white;
  width: 100%;
  margin-top: 1rem;
  padding: .5rem;
  border-radius: 8px;
  transition: .2s filter;
}

.button:hover {
  filter: brightness(1.4);
}